:root {
  --primary-color: #EEEEEE;
  --accent-color: black;
  --glass: linear-gradient(to right bottom, 
            rgba(255,255,255,0.7),
            rgba(255,255,255,0.3));
}

@font-face {
  font-family: RegularFont;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: BoldFont;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

body {
  font-family: RegularFont;
  margin: auto;
  max-width: 80%;
  min-height: 100vh;
  padding: 2rem;
  background: var(--glass);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

h1 {
  font-family: BoldFont;
  color: var(--accent-color);
}

.loader-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.700);
}

.loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-error-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 10px 0px;
  color: white;
  transform: translateY(-150%);
  animation: at-banner-slide-in 5s linear forwards;
}

.top-success-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 10px 0px;
  color: white;
  transform: translateY(-150%);
  animation: at-banner-slide-in 5s linear forwards;
}

@keyframes at-banner-slide-in {
  0% {
    transform: translateY(-150%);
  }
  
  5% { 
    transform: translateY(0%);
  }

  75% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-150%);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: var(--glass);
  border-radius: 1.5rem;
  padding: 10px;
}

.grid-container-two {
  display: grid;
  grid-template-columns: auto auto;
  background: var(--glass);
  border-radius: 1.5rem;
  padding: 10px;
}

.grid-item {
  background:var(--glass);
  color: var(--accent-color);
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item a {
  width: 100%;
}

.grid-item span {
  cursor: pointer;
}

.grid-item-button {
  background: transparent;
  color: var(--accent-color);
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 10px;
  text-align: center;
  transition: .5s;
}

.grid-item-button-active {
  color: var(--accent-color);
  background: var(--glass);
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 10px;
  text-align: center;
  transition: .3s;
}

.grid-item-button:hover {
  background:var(--glass);
}

.top {
  background:var(--glass);
  border-radius: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph {
  background:var(--glass);
  border-radius: 1.5rem;
  margin-top: 30px;
  text-align: center;
}

.paragraph-text {
  color: var(--accent-color);
  padding: 30px 40px;
}

.python-path {
  word-wrap: break-word;
}

.title {
  display: inline-block;
  padding: 10px 40px;
  color: var(--accent-color);
}

.info {
  float: right;
  padding: 10px 40px;
  color: var(--accent-color);
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--accent-color);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.search-input {
  width: 70%;
  padding: 10px;
  font-size: 1.1em;
  border: 0;
  border-radius: 1rem;
  background: var(--glass);
  outline: none;
}

.search-input-container {
  background: var(--glass);
  border-radius: 1.5rem;
  margin: 20px 0px;
  padding: 20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
