body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 80%;
  padding: 2rem;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

.loader-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.700);
}

.loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-error-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 10px 0px;
  color: white;
  transform: translateY(-150%);
  animation: at-banner-slide-in 5s linear forwards;
}

.top-success-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 10px 0px;
  color: white;
  transform: translateY(-150%);
  animation: at-banner-slide-in 5s linear forwards;
}

@keyframes at-banner-slide-in {
  0% {
    transform: translateY(-150%);
  }
  
  5% { 
    transform: translateY(0%);
  }

  75% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-150%);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.grid-container-two {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: #FE5D9F;
  color: white;
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-size: 1em;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item a {
  width: 100%;
}

.grid-item span {
  cursor: pointer;
}

.grid-item-button {
  background-color: white;
  color: #FE5D9F;
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 30px;
  text-align: center;
  transition: .5s;
}

.grid-item-button-active {
  background-color: #FE5D9F;
  color: white;
  border: 0px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 30px;
  text-align: center;
  transition: .5s;
}

.grid-item-button:hover {
  background-color: #FE5D9F;
  color: white;
}

.top {
  background-color: #FE5D9F;
  border-radius: 5em;
  margin-top: 30px;
}

.paragraph {
  background-color: #FE5D9F;
  border-radius: 5em;
  margin-top: 30px;
  text-align: center;
}

.paragraph-text {
  color: white;
  padding: 30px 40px;
}

.python-path {
  word-wrap: break-word;
}

.title {
  display: inline-block;
  padding: 10px 40px;
  color: white;
}

.info {
  float: right;
  padding: 10px 40px;
  color: white;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #FE5D9F;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.search-input {
  width: 50%;
  margin: 30px;
  padding: 10px;
  font-size: 1.1em;
  border: 0;
  border-bottom: 3px solid #FE5D9F;
  outline: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
